.main-background {
  -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 50% , rgb(0, 0, 0) 30%, rgb(186, 0, 0) 100%);
}

.card-area-table {
  -fx-background-color: #6A4515;
  -fx-padding: 20;
  -fx-background-radius: 15;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
  -fx-max-width: 700px;
}

.card-area-table-felt {
  -fx-background-color: #006300;
  -fx-padding: 35;
  -fx-background-radius: 10;
}

.card-image {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
}

.control-panel {
  -fx-background-color: #6A4515;
  -fx-background-radius: 12;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 1, 1);
}

.deal-hand-button {
  -fx-background-color: #b90006;
  -fx-text-fill: #ffffff;
  -fx-font-size: 16;
  -fx-font-weight: 700;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
}

.deal-hand-button:hover {
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
  -fx-background-color: #00a41b;
}

.deal-hand-button:pressed {
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-background-color: #006712;
}

.check-hand-button {
  -fx-background-color: rgba(11, 2, 133, 0.77);
  -fx-text-fill: #ffffff;
  -fx-font-size: 16;
  -fx-font-weight: 700;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
}

.check-hand-button:hover {
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
  -fx-background-color: rgba(41, 77, 255, 0.77);
}

.check-hand-button:pressed {
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-background-color: rgba(0, 14, 191, 0.77);
}

.text-label {
  -fx-font-size: 14;
  -fx-text-fill: white;
}

.valueLabel {
  -fx-font-size: 16;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

.queenValueLabel {
  -fx-font-size: 16;
  -fx-text-fill: #ffffff;
}

.flushValueLabel {
  -fx-font-size: 16;
  -fx-text-fill: #ffffff;
}